Flows/Tweet-Tone.json
[{"id":"73e9b38f.787b14","type":"tab","label":"Tweet Tone","disabled":false,"info":""},{"id":"13deb515.9aa05b","type":"twitter in","z":"73e9b38f.787b14","twitter":"","tags":"#IBMDeveloperNYC","user":"false","name":"Listen to twitter feed","inputs":1,"x":110,"y":100,"wires":[["8a5a41e6.86f87","b8feb32a.291df","de85a864.b51bf8"]]},{"id":"8a5a41e6.86f87","type":"debug","z":"73e9b38f.787b14","name":"msg.tweet details","active":true,"console":"false","complete":"tweet","x":490,"y":60,"wires":[]},{"id":"de85a864.b51bf8","type":"function","z":"73e9b38f.787b14","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["a93ca19e.b32ee","ebafca6d.e56858"]]},{"id":"a93ca19e.b32ee","type":"debug","z":"73e9b38f.787b14","name":"","active":true,"console":"false","complete":"false","x":790,"y":140,"wires":[]},{"id":"b8feb32a.291df","type":"debug","z":"73e9b38f.787b14","name":"","active":true,"console":"false","complete":"tweet.text","x":480,"y":100,"wires":[]},{"id":"c0c7fe40.6f6ce","type":"inject","z":"73e9b38f.787b14","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["761b10bd.d39b5"]]},{"id":"761b10bd.d39b5","type":"change","z":"73e9b38f.787b14","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":240,"wires":[["de85a864.b51bf8"]]},{"id":"97618aea.e8399","type":"inject","z":"73e9b38f.787b14","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":240,"wires":[["761b10bd.d39b5"]]},{"id":"816fd203.d69c","type":"inject","z":"73e9b38f.787b14","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":280,"wires":[["761b10bd.d39b5"]]},{"id":"784b9544.983304","type":"comment","z":"73e9b38f.787b14","name":"Paste API keys for Watson Tone Analyzer","info":"1. Log into IBM Cloud\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.\n\nOr\n1. Open this Cloud Foundry Node-RED Starter App\n2. Create a new Connection\n3. Bind the Watson Tone Analyzer service\n4. Restage your Cloud Foundry application","x":250,"y":380,"wires":[]},{"id":"f9f67b80.c795a","type":"debug","z":"73e9b38f.787b14","name":"Tone categories","active":true,"console":"false","complete":"payload","x":780,"y":340,"wires":[]},{"id":"e076279d.efec8","type":"function","z":"73e9b38f.787b14","name":"High Score","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \nvar myscore =  0;\nfor (var i=0; i<emotions.length; i++) {\n    if(emotions[i].score > myscore) {\n        msg.payload = emotions[i].score;\n        msg.topic = emotions[i].tone_name;\n        myscore = emotions[i].score;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["a88f8da5.a2c0d8","90a4f1a2.1e37c"]]},{"id":"a88f8da5.a2c0d8","type":"debug","z":"73e9b38f.787b14","name":"Score","active":true,"console":"false","complete":"topic","x":750,"y":380,"wires":[]},{"id":"37d84afc.f40c46","type":"debug","z":"73e9b38f.787b14","name":"Print msg.response","active":true,"console":"false","complete":"response","x":570,"y":300,"wires":[]},{"id":"ebafca6d.e56858","type":"watson-tone-analyzer-v3","z":"73e9b38f.787b14","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","default-endpoint":true,"service-endpoint":"","x":290,"y":340,"wires":[["e076279d.efec8","37d84afc.f40c46","35061278.8bab86"]]},{"id":"35061278.8bab86","type":"change","z":"73e9b38f.787b14","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["f9f67b80.c795a"]]},{"id":"90a4f1a2.1e37c","type":"switch","z":"73e9b38f.787b14","name":"Select Emotion","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"}],"checkall":"true","outputs":5,"x":340,"y":600,"wires":[["e3669bef.8098c"],["bfcd742c.b6885"],["c40e30d7.297878"],["59bb0efb.8accc8"],["64aafd0.8224d04"]]},{"id":"a1fd7c87.31358","type":"comment","z":"73e9b38f.787b14","name":"Extract highest emotion","info":"","x":760,"y":420,"wires":[]},{"id":"bfcd742c.b6885","type":"change","z":"73e9b38f.787b14","name":"Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":560,"wires":[["1ceebc11.003cc4"]]},{"id":"59bb0efb.8accc8","type":"change","z":"73e9b38f.787b14","name":"Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[["1ceebc11.003cc4"]]},{"id":"c40e30d7.297878","type":"change","z":"73e9b38f.787b14","name":"Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":600,"wires":[["1ceebc11.003cc4"]]},{"id":"e3669bef.8098c","type":"change","z":"73e9b38f.787b14","name":"Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["1ceebc11.003cc4"]]},{"id":"64aafd0.8224d04","type":"change","z":"73e9b38f.787b14","name":"Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"221,160,221","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":680,"wires":[["1ceebc11.003cc4"]]},{"id":"1ceebc11.003cc4","type":"template","z":"73e9b38f.787b14","name":"Score tweet","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This tweet expresses {{topic}} - {{tweet.text}}","output":"str","x":750,"y":600,"wires":[["1adb9e18.9826e2"]]},{"id":"1adb9e18.9826e2","type":"debug","z":"73e9b38f.787b14","name":"","active":true,"console":"false","complete":"false","x":930,"y":600,"wires":[]},{"id":"272f8240.0a8846","type":"comment","z":"73e9b38f.787b14","name":"Pick a #hashtag to follow","info":"","x":120,"y":60,"wires":[]}]